---
title: Dispatcher
permalink: /tutorial/overrides/dispatcher.html
category: overrides
layout: default
---

<div class="page-header">
	<h1>Dispatcher</h1>
</div>

<div class="row">
	<div class="col-md-2">
		<ul class="override-nav">
			{% for post in site.categories.overrides reversed %}
				<li>
					<a href="{{ site.baseurl }}{{ post.url }}" {% if post.url == page.url %} class="active" {% endif %}>{{ post.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-md-10">
		<p>
			The dispatcher is the handler of request and response and thus will handle the output accordingly. <br/>
			Also when there is no view given in the request the dispatcher will assume a view which is by default the plural of the component name
		</p>
		<p>
			When you want this can be overridden by adding the config variable controller in the initialize function of the dispatcher, below an example.
	{% highlight javascript linenos %}
	var Dispatcher  = require('raddish').Dispatcher;
	var util        = require('util');

	function ExampleDispatcher(config) {
		ExampleDispatcher.super_.call(this, config);
	};

	util.inherits(ExampleDispatcher, Dispatcher);

	ExampleDispatcher.prototype.initialize = function(config) {
	config.controller = 'foo';

	return ExampleDispatcher.super_.prototype.initialize.call(this, config);
	};

	module.exports = ExampleDispatcher;{% endhighlight %}

			In this example we have set the default controller when there is no view found. So when we go to http://example.com/web/example it will automatically show the contents of foo.
			<br/> And when you go to http://example.com/web/example/bars it will show the content of bars.
		</p>
	</div>
</div>