---
title: Model
permalink: /tutorial/overrides/model.html
category: overrides
layout: default
---

<div class="page-header">
	<h1>Model</h1>
</div>

<div class="row">
	<div class="col-md-3">
		<ul class="override-nav">
			{% for post in site.categories.overrides reversed %}
			<li>
				<a href="{{ site.baseurl }}{{ post.url }}" {% if page.url == post.url %} class="active" {% endif; %}>{{ post.title }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-md-9">
		<p>
			The part you will do most of the overrides is the model. <br/>
			When adding more states you can set these in the constructor of the object, <br/>
			and add these functions to the _buildQuery functions (when working with a database). Below I will give an example.
		</p>

	{% highlight javascript linenos %}

	var Model   = require('raddish').Model;
	var util    = require('util');

	function ExampleModel() {
		ExampleModel.super_.call(this);

		this.states.insert('category_id');
	}

	util.inherits(ExampleModel, Model);

	ExampleModel.prototype.buildQueryWhere = function(query, self) {
		// Call the parent to make sure everything goes according to plan.

		// Options 1
		return ExampleModel.super_.prototype.buildQueryWhere.call(this, query, self)
			.spread(function(query, self) {
				query.where('tbl.category_id = ?', self.state.get('category_id'));

				return [query, self];
			});

		// Option 2
		query.where('tbl.category_id = ?', self.state.get('category_id'));
		return ExampleModel.super_.prototype.buildQueryWhere.call(this, query, self)
	};

	module.exports = ExampleModel;{% endhighlight %}
		<p>
			Here we have two options, one is for async operations, which this obviously isn't so here we can also use option 2
			<br/> which is for sync operations. When we are done we return the parent function.
		</p>
		<p>
			Here we add a state called <code>category_id</code> When this state is given in the request as a get variable the system will detect this and automatically filter on this.
			<br/> There are a few _buildQuery functions here is a list of them
		</p>
		<ul>
			<li>buildQueryColumns</li>
			<li>buildQueryFrom</li>
			<li>buildQueryJoins</li>
			<li>buildQueryWhere</li>
			<li>buildQueryGroup</li>
			<li>buildQueryHaving</li>
			<li>buildQueryOrder</li>
			<li>buildQueryLimit</li>
		</ul>
		<p>
			Each function should be clear what the purpose is ;)
		</p>
	</div>
</div>