<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}assets/css/custom.css">
	    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/highlight.css">
	    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/bootstrapValidator.min.css">

	    <!--Custom JS -->
	    <script src="{{ site.baseurl }}assets/js/jquery-2.1.0.js"></script>
	    <script src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>
	    <script src="{{ site.baseurl }}assets/js/bootstrapValidator.min.js"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-32550863-5', 'auto');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');

        </script>
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
	        <div class="container">
		        <div class="navbar-header">
			        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			        </button>
			        <div class="navbar-brand">
                        <a href="/">
                            <img src="/assets/images/logo.svg" alt=""/>
                        </a>
			        </div>
		        </div>

		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			        <ul class="nav navbar-nav">
                        <li {% if page.url == '/features.html' %} class="active" {% endif %}><a href="/features.html">Features</a></li>
                        <li {% if page.url contains 'basics' %} class="active dropdown" {% else %} class="dropdown" {% endif %}>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Basics
                                <span class="caret"></span>
                            </a>
    
                            <ul class="dropdown-menu">
                                {% for post in site.categories.basics reversed %}
                                <li>
                                    <a href="{{ post.url }}">{{ post.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
				        <li {% if page.url contains 'tutorial' %} class="active dropdown" {% else %} class="dropdown" {% endif %}>
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					            Tutorial
					            <span class="caret"></span>
				            </a>

				            <ul class="dropdown-menu">
					            {% for post in site.categories.tutorial reversed %}
					                <li>
					                    <a href="{{ post.url }}">{{ post.title }}</a>
					                </li>
					            {% endfor %}
				            </ul>
				        </li>
                        <!--<li {% if page.url contains 'advanced' %} class="active dropdown" {% else %} class="dropdown" {% endif %}>-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                                <!--Advanced-->
                                <!--<span class="caret"></span>-->
                            <!--</a>-->
    <!---->
                            <!--<ul class="dropdown-menu">-->
                                <!--{% for post in site.categories.advanced reversed %}-->
                                <!--<li>-->
                                    <!--<a href="{{ post.url }}">{{ post.title }}</a>-->
                                <!--</li>-->
                                <!--{% endfor %}-->
                            <!--</ul>-->
                        <!--</li>-->
				        <li {% if page.url contains 'changelog' %} class="active" {% endif %}>
				            <a href="/changelog/">Changelog</a>
				        </li>
                        <li {% if page.url == '/support.html' %} class="active" {% endif %}><a href="/support.html">Support</a></li>
			        </ul>
	            </div>
	        </div>
        </div>

        <div class="container">
	        {{content}}
        </div>
    </body>
	<footer>
		<p class="text-center">
			Code licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>
            <br/> Logo by <a href="http://karasu-d.nl/" target="_blank">Karasu Design</a>.
		</p>
	</footer>
</html>
